body {
  
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    
  }

  .container{
    
    gap: 10px;
  }

  .publicidad{
    padding-top: 100px;
  }
  
 /* Ocultar columna de publicidad en modo móvil */
@media (max-width: 767px) {
  .publicidad {
      display: none;
  }
}

/* Alinear tarjetas en una sola columna en modo móvil */
@media (max-width: 767px) {
  .card-container .col {
      flex: 0 0 100%; /* Forzar a que cada tarjeta ocupe todo el ancho */
      max-width: 100%;
  }
}

/* NAVBAR CSS */

/* Asegúrate de que los elementos del navbar estén correctamente alineados */
.navbar-nav {
  align-items: center;
}

.form-control {
  max-width: 300px; /* Ajusta el ancho del input de búsqueda */ 
}

.navbar-brand { 
  font-weight: bold;
} 

.nav-link {
  font-size: 1em;
  color: darkblue; /* Color inicial del texto */ 
}

.nav-link:hover {
  color: blue !important; /* Color del texto al pasar el ratón */
  background-color: lightblue; /* Color de fondo al pasar el ratón*/
}  

.btn-outline-success {
  color: #fff;
  border-color: lightblue;
} 

.btn-outline-success:hover {
  color: #fff;
  background-color: lightblue;
  border-color: lightblue;
} 

.btn-search {
  color: darkblue; /* Color inicial del texto */
 } 

.btn-search:hover {
  color: blue !important; /* Color del texto al pasar el ratón */
 background-color: lightblue; /* Color de fondo al pasar el ratón */
} 

