body {
    
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    
  }

  .container{
    display: flex;
    gap: 10px;
  }

  .publicidad{
    padding-top: 100px;
  }
  
 /* Ocultar columna de publicidad en modo móvil */
@media (max-width: 767px) {
  .publicidad {
      display: none;
  }
}

/* Alinear tarjetas en una sola columna en modo móvil */
@media (max-width: 767px) {
  .card-container .col {
      flex: 0 0 100%; /* Forzar a que cada tarjeta ocupe todo el ancho */
      max-width: 100%;
  }
}

  