body {
    
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    
  }


  
  /* Estilos para pantallas grandes */
  @media (min-width: 768px) {
    .main-container {
      flex-direction: row; /* Coloca el contenido y la publicidad en columnas */
    }
  
    .content {
      flex: 3; /* La columna de contenido toma más espacio */
    }
  
    .advertisement {
      flex: 1; /* La columna de publicidad toma menos espacio */
      margin-top: 0;
      margin-left: 20px;
    }
  }
  
  /* Ocultar la columna de publicidad en pantallas pequeñas */
  @media (max-width: 767px) {
    .advertisement {
      display: none;
    }
  }
  